@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .imgcent {
        display: none;
    }

    .cardstyle {
        margin-left: 0;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 35px;
}

.imgcent {
    margin-top: 25px;
    margin-right: 100px;
}

.cardstyle {
    width: 300px;
    height: 325px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 2px rgb(59, 56, 13);
    justify-self: center;
}

.instyle {
    text-align: center;
    background-color: #F8C901;
    border: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.intext {
    text-align: center;
    color: #251e1b;
    margin-top: 12px;
    font-family: 'Araboto Medium', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.8rem;
}
