<div class="container">
    <div class="imgcent">
        <img src="assets/img/logo.png" alt="">
    </div>
    <mat-card class="cardstyle">
        <div class="instyle">
            <h1 class="intext"><strong>Ingreso</strong></h1>
        </div>
        <mat-card-content>
            <form class="form">
                <mat-form-field style="width: 100%;">
                    <mat-label>Usuario</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Contraseña</mat-label>
                    <input matInput>
                </mat-form-field>
                <div style="text-align: center">
                    <button style="background-color:#F8C901; color:black"mat-raised-button color="primary">Iniciar sesión</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div> 