<ng-container *ngIf="userType == 1">
    <mat-toolbar color="accent" id="header">
        <button mat-flat-button color="accent" class="button-container">
            <img src="assets/img/SunoutIcon.png" class="logo-img">
        </button>
        
        <button mat-flat-button [matMenuTriggerFor]="pedidos" color="accent" class="button-container">
            <span>Pedidos&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #pedidos="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="items" color="accent" class="button-container">
            <span>Items&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #items="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="dist" color="accent" class="button-container">
            <span>Distribución&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #dist="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="ventadir" color="accent" class="button-container">
            <span>Venta directa&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #ventadir="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="compras" color="accent" class="button-container">
            <span>Compras&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #compras="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="produccion" color="accent" class="button-container">
            <span>Producción&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #produccion="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="logistica" color="accent" class="button-container">
            <span>Logística&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #logistica="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        
        <button mat-flat-button [matMenuTriggerFor]="config" color="accent" class="button-container">
            <span>Configuración&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #config="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button [matMenuTriggerFor]="reportes" color="accent" class="button-container">
            <span>Reportes&nbsp;</span>
            <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #reportes="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>

        <button mat-flat-button color="accent">Usuarios</button> 

        <button mat-mini-fab color="accent" [matMenuTriggerFor]="usuario" class="user-button">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #usuario="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </mat-toolbar>
</ng-container>

<ng-container *ngIf="userType === 2">
    <mat-toolbar color="accent" id="header">
            tipo 2
    </mat-toolbar>
</ng-container>

<ng-container *ngIf="userType === 3">
    <mat-toolbar color="accent" id="header">
        tipo 3
    </mat-toolbar>
</ng-container>