<div class="container" style="background-color:#ffd740;"> 
    <div class="row">
      <div class="col-lg-12">
        <mat-nav-list class="m-0">
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Inicio </a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Pedidos <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Items <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Distribución <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Venta Directa <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Compras <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Producción <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Logística <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Configuración <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Reportes <mat-icon>arrow_drop_down</mat-icon></a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Usuarios </a>
          <a class="underline"
          mat-list-item
          routerLinkActive="active"
          (click)="onClose()"> Volver</a>
        </mat-nav-list>
      </div>
    </div>
  </div>